<form class="tormenta20 flexcol" autocomplete="off">
	{{!-- Item Sheet Header --}}
    {{> "systems/tormenta20/templates/item/parts/item-header.html"}}
	
	{{!-- Item Sheet Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item active" data-tab="description">Descrição</a>
        <a class="item" data-tab="details">Detalhes</a>
        <a class="item" data-tab="effects">Efeitos</a>
    </nav>

	{{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/tormenta20/templates/item/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            {{!-- Equipment Type --}}
            <div class="form-group">
                <label>Tipo</label>
                <select name="data.tipo">
                    {{#select data.tipo}}
                    <option value="leve">Armadura Leve</option>
                    <option value="pesada">Armadura Pesada</option>
                    <option value="escudo">Escudo</option>
                    <option value="traje">Traje</option>
                    <option value="bonus">Bônus Mágico</option>
                    <option value="natural">Armadura Natural</option>
                    <option value="acessorio">Acessório</option>
                    {{/select}}
                </select>
            </div>
            {{!-- Equipment Status --}}

            {{!-- Defesa --}}
            <div class="form-group">
                <label>Bônus na Defesa</label>
                <!-- <div class="form-fields"> -->
                   <input type="number" name="data.armadura.value" value="{{data.armadura.value}}" data-dtype="Number"/>
                <!-- </div> -->
            </div>

            {{!-- Penalidade de Armadura --}}
            <div class="form-group">
                <label>Penalidade de Armadura</label>
                <input type="number" name="data.armadura.penalidade" value="{{data.armadura.penalidade}}" data-dtype="Number" max="0"/>
            </div>
        </div>

        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/tormenta20/templates/actor/parts/active-effects.html"}}
        </div>
    </section>
</form>
